<nav class="navbar navbar-dark" style="background-color: #301934;">

  <div class="container-fluid">
    <a class="navbar-brand" href="#">Booking System</a>
    <span class="navbar-toggler"></span>
  </div>
  


</nav>